/* // LOGIN ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

* {
  /* define valores globais */
  margin: 0%;
  padding: 0%;
  font-family: "Inter";
}

/* Login */
.areaImagens {
  /* cria a area das imagens */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ad3333;
  width: 50vw;
  height: 100vh;
  flex-direction: column;
}

#nomeEscolaCadastro {
  /* titulo das paginas de cadastro e home */
  color: white;
}

.corpo {
  /*usado como o body*/
  display: flex;
  height: 100vh;
  width: 100vw;
}

.areaTexto {
  /*area dos textos nas telas de cadastro e login*/
  background-color: #ffe4e1;
  width: 50vw;

}

h1 {
  /*estiliza os subtitulos*/
  font-weight: bolder;
  justify-content: center;
  font-size: xxx-large;
}

.areaDeLogin {
  /* estiliza a area de login */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

input {
  /* muda as caixas de texto */
  height: 6%;
  width: 70%;
  border-radius: 25px;
  border: none;
}

#botaoLogin {
  /* estiliza o botao de login */
  height: 6%;
  width: 70%;
  border-radius: 25px;
  border: none;
  background-color: #ff3e3e;
  color: white;
  font-size: xx-large;
  margin-top: 3%;
}

.titulosInput {
  /* estiliza os labels em cima dos inputs */
  margin-top: 7vh;
  display: flex;
  justify-content: start;
  font-size: x-large;
}

.criadorDeConta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 2%;
  width: 70%;
}

.lembreSe {
  display: flex;
  width: 1000%;
}

.checkbox {
  display: flex;
  flex-direction: row;
  width: 50%;
}

#lembraCaixa {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: auto;
  width: auto;
  margin-right: 5%;
}

.checkSenha {
  display: flex;
  width: 100%;
  justify-content: center;
}

#senha {
  margin-bottom: 2%;
}

/* // CADASTRO /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.corpo2 {
  /*usado como o body*/
  display: flex;
  background-color: #ad3333;
  height: 100vh;
  width: 100vw;
}

.AreaDeCadastro {
  background-color: #ffe4e1;
  width: 200vw;
  height: 80vh;
  margin-top: auto;
  margin-bottom: auto;
}

.TituloCadastro {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 5vh;
}

.divisoria {
  display: flex;
  width: 1vw;
  align-items: center;
  flex-direction: column;
}

#linha {
  display: flex;
  flex-direction: column;
  background-color: #781b1b;
  height: 55vh;
  width: 10%;
  justify-content: center;
}

.doisTextos {
  display: flex;
  justify-content: center;
}

.AreaDeTexto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  flex-direction: column;
}

.AreaTexto2{
  display: flex;
  align-items: center;
  width: 50%;
  margin-top: 4vh;
  flex-direction: column;
}

#botaoCadastro {
  /* muda as caixas de texto */
  justify-content: center;
  height: 6%;
  width: 30%;
  border-radius: 25px;
  background-color: #ff3e3e;
  color: white;
  font-size: xx-large;
  margin-top: 3%;
  border: none;
}

.botaoCadastro{
  display: flex;
  justify-content: center;
  margin-top: -2%; /* temporário! */
}

.inputCadastro{
  height: 13%;
  border-radius: 25px;
  margin-bottom: 2%;
}

/* // HOME /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.corpo3 {
  background-color: #FFE4E1;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.AreaBuscaTurmas {
  background-color: #FFE4E1;
  height: 60%;
}

.NavBar {
  display: flex;
  background-color: #781b1b;
  position: absolute;
  height: 4%;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

.aNavBar {
  color: white;
  text-decoration: none;
}

.AreaBusca {
  background-color: #AD3333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
}

.AreaImagens2 {
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: space-around;
  flex-direction: row;
}

.perfil {
  height: 12vh;
  width: 6vw;
}

.nomeEscolaHome {
  color: white;
  flex-direction: row;
}

.inputHomeDiv{
  width: 50%;
  height: 22%;
  margin-top: 1%;
  flex-direction: row;
}

.inputHome {
  background-color: #FFE4E1;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 2%;
  border: none;
}

::-webkit-input-placeholder {
  color: #323232;
}

/* // ALUNOS ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.corpo6 {
  background-color: #FFE4E1;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.TextoAlunos {
  background-color: #AD3333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
}

.SeletorAlunos {
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #FFE4E1;
  height: 60%;
}

.nomeAlunos {
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: row;
}

/* // TURMAS ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.corpo4 {
  background-color: #FFE4E1;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.TextoTurmas {
  background-color: #AD3333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
}

.SeletorTurmas{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #FFE4E1;
  height: 60%;
}

.nomeTurmas {
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: row;
}

#turmas {
  background-color: #781B1B;
  height: 25vh;
  width: 30vw;
  border:none;
  padding: 30px;
  border-radius:25px;
  color: white;
  font-size: x-large;
  font-style: italic;
}

/* // PERFIL ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.corpo5 {
  background-color: #FFE4E1;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.TextoPerfil {
  background-color: #AD3333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
}

.SeletorPerfil{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #FFE4E1;
  height: 60%;
}

.nomePerfil {
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: row;
}

#perfil{
  background-color: #781B1B;
  height: 25vh;
  width: 30vw;
  border:none;
  padding: 30px;
  border-radius:25px;
  color: white;
  font-size: x-large;
  font-style: italic;
}